@font-face
{
    font-family: 'DroidSans';
    src: url('/webfonts/droid-sans/DroidSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face
{
    font-family: 'DroidSans';
    src: url('/webfonts/droid-sans/DroidSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
